form {
  width: 550px;
  margin: auto;
}

input, textarea {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 13pt;
  transition: 0.4s;
  background-color: rgba(255 , 255 , 255 , 0.7);
}

input:hover, textarea:hover {
  background-color: rgb(221 , 221 , 221);
}

legend {
  color: rgb(136 , 136 , 136);
  font-weight: bold;
  font-size: 13pt;
  font-family: sans-serif;
}

fieldset {
  border-color: rgb(206 , 206 , 206);
  margin: 20px;
}

.sex {
  width: 150px;
}

.user {
  background: url('./../imagens/icone-contato.png') no-repeat 95% 95%;
}

.addres {
  background: url('./../imagens/icone-endereco.png') no-repeat 95% 95%;
}

.message {
  background: url('./../imagens/icone-mensagem.png') no-repeat 95% 95%;
}

.user {
  background: url('./../imagens/icone-contato.png') no-repeat 95% 95%;
}

.buy {
  background: url('./../imagens/icone-pagamento.png') no-repeat 95% 95%;
}