@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

@font-face {
  font-family: 'FonteLogo';
  src: url('../fonts/bubblegum-sans-regular.otf');
}

body {
  background-color: rgb( 221 , 221 , 221 );
  font-family: Arial, sans-serif;
}
.interface {
  width: 1000px;
  margin: -20px auto 0 auto;
  padding: 10px;
  background-color: rgb( 255 , 255 , 255 );
  box-shadow: 0 0 10px rgba( 0 , 0 , 0 , 0.4 );
}

p {
  text-align: justify;
  text-indent: 50px;
}

a {
  color: rgb( 96 , 96 , 96 );
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.cabecalho {
  border-bottom: 1px solid rgb( 96 , 96 , 96 );
  height: 150px;
  background: url('../imagens/glass-logo-peq.jpg') no-repeat 0 80px;
}

.cabecalho h1 {
  font-family: "FonteLogo", sans-serif;
  font-size: 30pt;
  color: rgb( 96 , 96 , 96 );
  text-shadow: 1px 1px 1px rgba( 0 , 0 , 0 , 0.6 );
  padding: 0;
  margin-bottom: 0;
}

.cabecalho h2 {
  font-family: "Titillium Web", sans-serif;
  color: rgb( 136 , 136 , 136 );
  font-size: 15pt;
  padding: 0;
  margin-top: 0;
}

.cabecalho .oculos-pequeno {
  position: absolute;
  right: 100px;
  top: 80px;
}

/* Formatação de imagens com legendas */

.foto-legenda {
  position: relative;
  border: 8px solid rgb( 255 , 255 , 255 );
  box-shadow: 1px 1px 4px rgba( 0 , 0 , 0 , 0.2 );
}

.foto-legenda img {
  width: 100%;
  height: 100%;
}

.foto-legenda figcaption {
  opacity: 0;
  position: absolute;
  top: 0;
  background-color: rgba( 0 , 0 , 0 , 0.4 );
  color: rgb( 255 , 255 , 255 );
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  transition: 0.6s;
}

.foto-legenda figcaption:hover {
  opacity: 1;
}

/* formatação do menu */

.menu h2 {
  display: none;
}

.menu ul {
  list-style: none;
  text-transform: uppercase;
  position: absolute;
  top: -20px;
  right: 100px;
}

.menu li {
  display: inline-block;
  background-color: rgb( 221 , 221 , 221 );
  padding: 10px;
  margin: 2px;
  transition: 1s;
}

.menu li:hover {
  background-color: rgb( 96 , 96 , 96 );
}

.menu a {
  color: rgb( 0 , 0 , 0 );
  text-decoration: none;
}

.menu a:hover {
  color: rgb( 255 , 255 , 255 );
}

.container {
  width: 550px;
  float: left;
  border-right: 1px solid rgb( 96 , 96 , 96 );
  padding-right: 15px;
}
article h2 {
  font-size: 13pt;
  color: rgb( 96 , 96 , 96 );
  background-color: rgb( 206 , 206 , 206 );
  padding: 5px 0;
  padding-right: 5px;
  margin: 10px 0;
}

.cabecalho-artigo h1 {
  font-family: "FonteLogo", sans-serif;
  font-size: 20pt;
  color: rgb( 96 , 96 , 96 );
  margin-bottom: 0;
  margin-top: 0;
}

.cabecalho-artigo h2 {
  font-size: 13pt;
  color: rgb( 206 , 206 , 206 );
  background-color: rgb( 255 , 255 , 255 );
  margin: 0;
}
.cabecalho-artigo h3 {
  font-size: 12pt;
  color: rgb( 96 , 96 , 96 );
}

.cabecalho-artigo .alinha-direita {
  text-align: right;
}

table {
  border-spacing: 0px;
  margin-left: auto;
  margin-right: auto;
}

table th {
  color: rgb( 136 , 136 , 136 );
  font-weight: bolder;
  font-size: 13pt;
}

table th span {
  display: block;
  float: right;
  color: rgb( 0 , 0 , 0 );
  font-size: 8pt;
  margin-top: 10px;
}

table td {
  border: 1px solid rgb( 96 , 96 , 96 );
  padding: 10px;
}

table .col-esquerda {
  color: rgb( 255 , 255 , 255 );
  background-color: rgb( 96 , 96 , 96 );
  vertical-align: top;
  font-weight: bold;
  text-align: right;
}

table .col-direita {
  background-color: rgb( 206 , 206 , 206 );
}

.lateral {
  width: 400px;
  float: right;
  background-color: rgb( 221 , 221 , 221 );
  padding: 10px;
  margin-top: 10px;
  box-shadow: 2px 2px 2px rgba( 0 , 0 , 0 , 0.4 );
}

.lateral h1 {
  font-family: "FonteLogo", sans-serif;
  font-size: 20pt;
  color: rgb( 96 , 96 , 96 );
  margin-top: 0;
}

.lateral h2 {
  background-color: rgb( 96 , 96 , 96 );
  font-size: 13pt;
  color: rgb( 255 , 255 , 255 );
  padding: 5px;
}

.rodape {
  border-top: 1px solid rgb( 96 , 96 , 96 );
  clear: both;
}

.rodape p {
  text-align: center;
}

/* formatação iframe */

.content {
  width: 1000px;
  margin: auto;
}

.frame-spec {
  width: 400px;
  height: 280px;
  border: none;
  margin-left: 50px;
}